.result {
  font-size: 20;
  font-weight: bolder;
  color: #0e7993;
}


.modal{
  display: none;
  text-align: center;
}
.jumbotron {
  color: #4156f4;
  background-color: lightblue;
  text-align: center;
}

.container {
  color: #260f70;
  font-size: 20;
  font-weight: bolder;
}

body {
background-color: #caf7f6;
  background-image: : url("img/back.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
